/*
*
* Responsive unit
* --------------------------------------------------
*/


@include unit-responsive($medias, 15px, 20px); //

// Unit Spacing
//
 
.unit {
  @media (min-width: $screen-xl-min) {
    @include unit-spacing($medias, 20px, 30px);
  }
}

.unit-spacing-sm {
  @include unit-spacing($medias, 10px, 20px);
}

.unit-spacing-md-midle {
  @media (min-width: $screen-xl-min) {
    @include unit-spacing($medias, 20px, 50px);
  }
}

.unit-spacing-md {
  @include unit-spacing($medias, 20px, 30px);

  @media (min-width: $screen-lg-min) {
    @include unit-spacing($medias, 20px, 65px);
  }
}

.unit-spacing-xxl {
  @include unit-spacing($medias, 10px, 15px);
  @media (min-width: $screen-sm-min) {
    @include unit-spacing($medias, 20px, 115px);
  }
}
