<footer class="footer">
    <div class="container-fluid">

        <div class="row justify-content-center justify-content-xl-between">
            <div class="col-12 col-xl-4">
                <div class="footer-text">
                    <h3 class="h3 title">What we do</h3>
                    <h4 class="h4 subtitle">SEO</h4>
                    <p>Search engine optimization (SEO) is the process of affecting the visibility of a website or a web page in a web search engine's unpaid results — often referred to as "natural".</p>
                </div>
            </div>
            <div class="col-12 col-xl-4">
                <div class="footer-instagram">
                    <h3 class="h3 title">Instagram Feed</h3>
                    <div class="i-items" id="lightgallery">
                        <a class="i-item" href="https://scontent.cdninstagram.com/vp/4bb11d29ff40074b9f3226dbff4a5cd7/5B46D0DD/t51.2885-15/sh0.08/e35/p640x640/28154670_1347242648755551_3596834320678912000_n.jpg" style="background-image: url('https://scontent.cdninstagram.com/vp/4bb11d29ff40074b9f3226dbff4a5cd7/5B46D0DD/t51.2885-15/sh0.08/e35/p640x640/28154670_1347242648755551_3596834320678912000_n.jpg')">
                            <span class="caption">
                                <ul>
                                    <li><i class="icon ion-android-favorite"></i> 15001</li>
                                    <li><i class="icon ion-android-textsms"></i>148</li>
                                </ul>
                            </span>
                        </a>
                        <a class="i-item" href="https://scontent.cdninstagram.com/vp/4bb11d29ff40074b9f3226dbff4a5cd7/5B46D0DD/t51.2885-15/sh0.08/e35/p640x640/28154670_1347242648755551_3596834320678912000_n.jpg" style="background-image: url('https://scontent.cdninstagram.com/vp/4bb11d29ff40074b9f3226dbff4a5cd7/5B46D0DD/t51.2885-15/sh0.08/e35/p640x640/28154670_1347242648755551_3596834320678912000_n.jpg')">
                            <span class="caption">
                                <ul>
                                    <li><i class="icon ion-android-favorite"></i> 15001</li>
                                    <li><i class="icon ion-android-textsms"></i>148</li>
                                </ul>
                            </span>
                        </a>
                        <a class="i-item" href="https://scontent.cdninstagram.com/vp/4bb11d29ff40074b9f3226dbff4a5cd7/5B46D0DD/t51.2885-15/sh0.08/e35/p640x640/28154670_1347242648755551_3596834320678912000_n.jpg" style="background-image: url('https://scontent.cdninstagram.com/vp/4bb11d29ff40074b9f3226dbff4a5cd7/5B46D0DD/t51.2885-15/sh0.08/e35/p640x640/28154670_1347242648755551_3596834320678912000_n.jpg')">
                            <span class="caption">
                                <ul>
                                    <li><i class="icon ion-android-favorite"></i> 15001</li>
                                    <li><i class="icon ion-android-textsms"></i>148</li>
                                </ul>
                            </span>
                        </a>
                        <a class="i-item" href="https://scontent.cdninstagram.com/vp/4bb11d29ff40074b9f3226dbff4a5cd7/5B46D0DD/t51.2885-15/sh0.08/e35/p640x640/28154670_1347242648755551_3596834320678912000_n.jpg" style="background-image: url('https://scontent.cdninstagram.com/vp/4bb11d29ff40074b9f3226dbff4a5cd7/5B46D0DD/t51.2885-15/sh0.08/e35/p640x640/28154670_1347242648755551_3596834320678912000_n.jpg')">
                            <span class="caption">
                                <ul>
                                    <li><i class="icon ion-android-favorite"></i> 15001</li>
                                    <li><i class="icon ion-android-textsms"></i>148</li>
                                </ul>
                            </span>
                        </a>
                        <a class="i-item" href="https://scontent.cdninstagram.com/vp/4bb11d29ff40074b9f3226dbff4a5cd7/5B46D0DD/t51.2885-15/sh0.08/e35/p640x640/28154670_1347242648755551_3596834320678912000_n.jpg" style="background-image: url('https://scontent.cdninstagram.com/vp/4bb11d29ff40074b9f3226dbff4a5cd7/5B46D0DD/t51.2885-15/sh0.08/e35/p640x640/28154670_1347242648755551_3596834320678912000_n.jpg')">
                            <span class="caption">
                                <ul>
                                    <li><i class="icon ion-android-favorite"></i> 15001</li>
                                    <li><i class="icon ion-android-textsms"></i>148</li>
                                </ul>
                            </span>
                        </a>
                        <a class="i-item" href="https://scontent.cdninstagram.com/vp/4bb11d29ff40074b9f3226dbff4a5cd7/5B46D0DD/t51.2885-15/sh0.08/e35/p640x640/28154670_1347242648755551_3596834320678912000_n.jpg" style="background-image: url('https://scontent.cdninstagram.com/vp/4bb11d29ff40074b9f3226dbff4a5cd7/5B46D0DD/t51.2885-15/sh0.08/e35/p640x640/28154670_1347242648755551_3596834320678912000_n.jpg')">
                            <span class="caption">
                                <ul>
                                    <li><i class="icon ion-android-favorite"></i> 15001</li>
                                    <li><i class="icon ion-android-textsms"></i>148</li>
                                </ul>
                            </span>
                        </a>
                        <a class="i-item" href="https://scontent.cdninstagram.com/vp/4bb11d29ff40074b9f3226dbff4a5cd7/5B46D0DD/t51.2885-15/sh0.08/e35/p640x640/28154670_1347242648755551_3596834320678912000_n.jpg" style="background-image: url('https://scontent.cdninstagram.com/vp/4bb11d29ff40074b9f3226dbff4a5cd7/5B46D0DD/t51.2885-15/sh0.08/e35/p640x640/28154670_1347242648755551_3596834320678912000_n.jpg')">
                            <span class="caption">
                                <ul>
                                    <li><i class="icon ion-android-favorite"></i> 15001</li>
                                    <li><i class="icon ion-android-textsms"></i>148</li>
                                </ul>
                            </span>
                        </a>
                        <a class="i-item" href="https://scontent.cdninstagram.com/vp/4bb11d29ff40074b9f3226dbff4a5cd7/5B46D0DD/t51.2885-15/sh0.08/e35/p640x640/28154670_1347242648755551_3596834320678912000_n.jpg" style="background-image: url('https://scontent.cdninstagram.com/vp/4bb11d29ff40074b9f3226dbff4a5cd7/5B46D0DD/t51.2885-15/sh0.08/e35/p640x640/28154670_1347242648755551_3596834320678912000_n.jpg')">
                            <span class="caption">
                                <ul>
                                    <li><i class="icon ion-android-favorite"></i> 15001</li>
                                    <li><i class="icon ion-android-textsms"></i>148</li>
                                </ul>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-3">
                <div class="footer-newsletter">
                    <h3 class="h3 title">Newsletter</h3>
                    <div class="desc">
                        <p>Keep up with our always upcoming news, updates, and publications. Enter your e-mail and subscribe to our newsletter.</p>
                    </div>
                    <form class="form" action="">
                        <div class="input-wrap input-wrap-btn">
                            <input type="text" class="input input-sm" placeholder="Enter your e-mail">
                            <button class="btn btn-bg btn-sm" type="submit">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-xl-12">
                <div class="copyright">
                    &copy; 2017 All Rights Reserved Terms of Use and Privacy Policy
                </div>
            </div>
        </div>
    </div>
</footer>

<div id="to-top" class="to-top"><i class="icon ion-chevron-up"></i></div>

</div>
<!--end min-height-->

<script src="js/main.js"></script>

</body>
</html>