<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <title>indexMarketing</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i|Poppins:400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body class="error404">
<!--error404, single-post, blog-->

<!--min-height-->
<div class="min-height">

<header class="header">
        <div class="container-fluid">
            <div class="header-inner">

                <nav class="header-nav">
                    <ul>
                        <li class="active">
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="#">About us</a>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                    </ul>
                </nav>

                <div class="header-left">
                    <div class="hamburger">
                        <span></span>
                    </div>
                    <!-- error404 ? logo-inverse.png : logo.png -->
                    <a class="header-logo" href="#"><img src="images/logo-inverse.png" alt="SEOMarket"></a>
                </div>

                <div class="hamburger-2">
                    <span></span>
                </div>

                <div class="header-right">
                    <div class="header-search">
                        <div class="header-search-btn">
                            <i class="icon ion-android-search i-search"></i>
                            <i class="icon ion-android-close i-close"></i>
                        </div>
                        <form class="form" action="">
                            <div class="input-wrap input-wrap-icon">
                                <input type="text" class="input" placeholder="Search...">
                                <button type="submit"><i class="icon ion-android-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <a class="header-tel btn" href="tel:+380979999999">+380 (97) 999 9999</a>
                </div>
            </div>
        </div>
    </header>