//
// Variables Custom
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:               #000; 
$white:                   #fff;

$gray-darker:             #25252c; 
$gray-dark:               #333333;
$gray:                    #555555;
$gray-light:              #838386;
$gray-lighter:            #f2f3f9;

$gray-1:                  #c2c2c3;
$gray-2:                  #ededed;
$gray-3:                  #7f839a;
$gray-4:                  #d8dae2;

$primary:                 #50e590;

$secondary:               #0796c6;
$secondary-1:             #ffec17;
$secondary-2:             #1cd8c9;
$secondary-3:             #080ab4;
$secondary-4:             #6e7b9d;

$secondary-5:             #21212e;
$secondary-6:             #dedfe8;


$facebook: #4d70a8;
$facebook-darken: #3e5a86;

$twitter: #02bcf3;
$twitter-darken: #008ee0;

$google: #e2411e;
$google-darken: #b53418;

$instagram: #444;
$linkedin: #1787b1;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff; //
//** Global text color on `<body>`.
$text-color:            $gray-light; //

//** Global textual link color.
$link-color:            $primary; //
//** Link hover color set via `darken()` function.
$link-hover-color:      $secondary; //
//** Link active
$link-press-color:      $link-hover-color; //
//** Link hover decoration.
$link-hover-decoration: none;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

// Import fonts


$font-family-sans-serif:    "Lato", Helvetica, Arial, sans-serif; //
$font-family-sans-serif-2:  "Poppins", Helvetica, Arial, sans-serif; //
$font-family-serif:          Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:      Menlo, Monaco, Consolas, "Courier New", monospace;


$font-family-base:        $font-family-sans-serif; //
$font-family-sec:         $font-family-sans-serif-2; //


// Template width (w/o units)
$template-width:          1920; //

// Template width var for resizing
$template-width-min:      ($template-width+1)*1px; //
$layout-boxed-width:      1770px; //


// Base FZ & LH (w/o units)
$base-text-size:          18; //
$base-lh-size:            28; //

$base-vm-size:            (($base-text-size*100)/$template-width)*1vw;


$font-size-base:          $base-text-size * 1px;
$font-size-large:         ceil(($font-size-base * 1.33)); // ~24px Blockquote Style
$font-size-small:         ceil(($font-size-base * 0.85)); // ~12px

$font-weight-base:        300; //

//PSD FZ headers /FOR EDIT (w/o units)
$Size-h1:                 80; //
$Size-h2:                 52; //
$Size-h3:                 46; //
$Size-h4:                 28; //
$Size-h5:                 24; //
$Size-h6:                 24; //

//PSD LH headers /FOR EDIT (w/o units)
$Lh-h1:                   116;
$Lh-h2:                   66;
$Lh-h3:                   66;
$Lh-h4:                   40;
$Lh-h5:                   34;
$Lh-h6:                   36;


//Calculating FZ headers
$font-size-h1:            $Size-h1*1px;
$font-size-h2:            $Size-h2*1px;
$font-size-h3:            $Size-h3*1px;
$font-size-h4:            $Size-h4*1px;
$font-size-h5:            $Size-h5*1px;
$font-size-h6:            $Size-h6*1px;


//** line-height for headers /FOR EDIT
// $font-lh-h_: floor((PSD l-h / $font-size-h1));

$font-lh-h1:              ($Lh-h1 / $Size-h1);
$font-lh-h2:              ($Lh-h2 / $Size-h2);
$font-lh-h3:              ($Lh-h3 / $Size-h3);
$font-lh-h4:              ($Lh-h4 / $Size-h4);
$font-lh-h5:              ($Lh-h5 / $Size-h5);
$font-lh-h6:              ($Lh-h6 / $Size-h6);

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        ($base-lh-size / $base-text-size); // l-h/fz-base
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    $font-family-sec; //
$headings-font-weight:    700; //
$headings-line-height:    1.2; //
$headings-color:          $gray-darker; //


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;
$screen-phone:               $screen-xs-min;

// Small screen / tablet
$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
$screen-md:                  992px;
$screen-md-min:              $screen-md;
$screen-desktop:             $screen-md-min;

// Large screen / wide desktop
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;
$screen-lg-desktop:          $screen-lg-min;

// Extra Large screen
$screen-xl:                  1600px;
$screen-xl-min:              $screen-xl;
$screen-xl-desktop:          $screen-xl-min;

// 4k desktop
$screen-xxl:                  1800px;
$screen-xxl-min:              $screen-xxl;
$screen-xxl-desktop:          $screen-xxl-min;

// So media queries don't overlap when required, provide a maximum
$screen-xxs-max:             ($screen-xs-min - 1);
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);
$screen-lg-max:              ($screen-xl-min - 1);
$screen-xl-max:              ($screen-xxl-min - 1);

// Define media prefix
$medias: (0: null, $screen-xs-min : xs, $screen-sm-min : sm, $screen-md-min : md, $screen-lg-min : lg, $screen-xl-min : xl, $screen-xxl-min : xxl);


//== Flex Grid system
//
//## Define your custom flex responsive grid.

$shell-width:         300px;
$shell-xs-width:      480px;
$shell-sm-width:      750px;
$shell-md-width:      970px;
$shell-lg-width:      1200px;
$shell-xl-width:      1600px;
$shell-xxl-width:     1800px;

$range-ws:            50px;
$range-ws-sm:         30px;
$range-ws-md:         60px;
$range-ws-lg:         70px;
$range-ws-xl:         90px;

$cell-count:             12;
$cell-spacing:           30px;
$cell-spacing-narrow-md: 15px;
$cell-spacing-narrow:    10px;


//== Spacing
//
//##
$spacing-sm: .02em; //
$spacing-md: .06em; //
$spacing-lg: .12em; //

//== Borders
//
//##

$border-sm: 9px; // Pricing Box


//== Shadows
//
//##

$shadow-secondary-sm:   0 6px 10px 0 rgba($secondary, .36); // Secondary Button Shadow

$shadow-area-ambient:   0px 0px 1px 0 rgba(0, 0, 0, 0.15);
$shadow-area-xxs:       1px 1px 1px rgba(0, 0, 0, 0.15);
$shadow-area-xs:        0 1px 4px 0 rgba(0, 0, 0, 0.15);
$shadow-area-sm:        0 6px 8px 0 rgba($secondary-4, .17);  // Standard Boxed, Button Shadow
$shadow-area-md:        0 7px 24px 0 rgba($secondary-4, .42); // Standard Pricing Shadow
$shadow-area-lg:        0px 10px 30px 0px rgba(#8e95a6, 0.5); // Image shadow
$shadow-area-xl:        0 12px 36px 0 rgba(#1e1f22, .15);


//== Buttons
//
//##
$btn-font-family: $font-family-sec;
$btn-font-weight: 500;
$btn-letter-spacing: .12em;
$btn-text-transform: uppercase;
$btn-border-width: 2px;
$btn-border-radius: 35px;
