$main: #50e590;
$main_08: rgba(80, 229, 144, 0.8);
$hover: #0796c6;
$hover-2: #ffec17;
$main-2: #1cd8c9;
$white: #fff;
$dark: #29293a;
$dark_05: rgba(0, 0, 0, 0.5);
$grey-light: #f2f3f9;
$text: #838386;
$text-2: #c2c2c3;
$hr: $grey-light;
$hr-2: #d2d5e4;
$grey-border: #ededed;
$fb: #4d70a8;
$fb-hover: #3e5a86;
$twitter: #02bcf3;
$twitter-hover: #008ee0;
$google: #e2411e;
$google-hover: #b53418;
$bg-dark: #25252c;
$bg-dark-2: #19191e;
$layer: rgba(7, 150, 198, 0.6);



