/*
*
* Offsets
* --------------------------------------------------
*/

// Element offset
* + p { margin-top: 15px; }
p + p { margin-top: 12px; }
* + figcaption { margin-top: 10px; }
* + h6,* + .heading-6 { margin-top: 20px; }

// Headings

// Headings + Paragraph
h1 + p,.heading-1 + p {  margin-top: 20px; }
h2 + p,.heading-2 + p {  margin-top: 20px; }
h3 + p,.heading-3 + p {  margin-top: 15px; }
h4 + p,.heading-4 + p {  margin-top: 18px; }
h5 + p,.heading-5 + p {  margin-top: 20px; }

.heading-5 + h3 {
  margin-top: 5px;
  @media (min-width: $screen-xl-min) {
    margin-top: 23px;
  }
}

* + .list-xxs {  margin-top: 20px;}

h6 + p,.heading-6 + p {  margin-top: 20px;}

// Tags + Tags

// Tags + Classes
p + .list-marked { margin-top: 10px; }
p + p + .list-marked { margin-top: 20px; }
p + .button { margin-top: 25px; }
h3 + .parallax-container { margin-top: 40px; }
h3 + .section { margin-top: 40px; }
.divider + p { margin-top: 10px; }

@media (max-width: $screen-sm-min - 1) {
  .range + .button-offset-lg {
    margin-top: 40px;
  }
}

// Classes
* + .list-xs { margin-top: 25px; }
* + .list-marked { margin-top: 20px; }
* + .list-terms { margin-top: 30px; }
* + .button { margin-top: 20px; }
* + .list-ordered { margin-top: 20px; }
* + .figure-light { margin-top: 20px; }
* + .rd-mailform { margin-top: 30px; }
* + .quote-primary { margin-top: 25px; }
* + .quote-minimal { margin-top: 25px; }
.quote-minimal + * { margin-top: 25px; }
* + .group-xs { margin-top: 25px; }
* + .group-md { margin-top: 25px; }
* + .rd-mailform-inline { margin-top: 25px; }
* + .owl-carousel { margin-top: 40px; }
* + .frame-header { margin-top: 40px; }
* + .facebook { margin-top: 40px; }
* + .flickr { margin-top: 40px; }
* + .divider-thin { margin-top: 13px; }
* + .list-twitter { margin-top: 25px; }
* + .box-inline { margin-top: 25px; }
* + .box-2-columns { margin-top: 25px; }
* + .button-blog { margin-top: 30px; }
* + .rd-search-results { margin-top: 30px; }
* + .d3-chart-wrap { margin-top: 30px; }
* + .privacy-link { margin-top: 30px; }
* + .typed-text-wrap { margin-top: 30px; }
* + [class^='custom-wrap'] { margin-top: 40px; }
.heading-group + .divider-default { margin-top: 15px; }

// Classes + Tags
h6 + .rd-mailform-inline,
.heading-6 + .rd-mailform-inline { margin-top: 10px; }
h2 + .divider, .heading-2 + .divider { margin-top: 10px; }
.big + form { margin-top: 20px; }

// Classes + Classes 
.shell + .shell { margin-top: 60px; }
.shell + .bg-gradient { margin-top: 60px; }
.range + .range { margin-top: 60px; }
.divider-thin + .box-inline { margin-top: 15px; }
.divider-thin + .box-inline-wrap { margin-top: 15px; }
h3 + .swiper-slider { margin-top: 30px; }
.shell + .swiper-slider { margin-top: 30px; } 

.page {
  * + .offset-top-0 { margin-top: 0; }
  * + .offset-custom-1 { margin-top: 20px; }
  * + .offset-custom-3 { margin-top: 30px; }
}

// Media offsets
@media (min-width: $screen-sm-min) {
  * + figcaption { margin-top: 20px; }
  * + hr { margin-top: 30px; }
  * + .quote-primary { margin-top: 35px; }
  * + .group-md { margin-top: 35px; }
  * + .owl-carousel { margin-top: 70px; }
  * + .frame-header { margin-top: 60px; }
  * + .list-twitter { margin-top: 47px; }
  * + .list-terms { margin-top: 45px; }
  * + .button { margin-top: 35px; }
  * + .rd-search-results { margin-top: 45px; }
  * + .typed-text-wrap { margin-top: 50px; }
  .typed-text-wrap + .button { margin-top: 35px; }
  .custom-subtitle + * { margin-top: 25px; }
  .divider + .box-2-columns { margin-top: 40px; }
  
  h3 + .parallax-container { margin-top: 40px; }
  h3 + .section { margin-top: 40px; }
  hr + .range { margin-top: 40px; }
  h3 + .swiper-slider { margin-top: 55px; }
  .shell + .swiper-slider { margin-top: 55px; }
  h2 + .divider,
  .heading-2 + .divider { margin-top: 25px; }
  .heading-group + .divider-default { margin-top: 30px; }
  .big + .button { margin-top: 30px; }
  
  .page {
    * + .offset-custom-1 { margin-top: 30px; }
    * + .offset-custom-2 { margin-top: 30px; }
  }
  
}

@media (min-width: $screen-md-min) {
  * + .figure-light { margin-top: 40px; }
  * + hr { margin-top: 40px; }
  * + .d3-chart-wrap { margin-top: 50px; }
  h1 + p, .heading-1 + p { margin-top: 30px; }
  h2 + p, .heading-2 + p { margin-top: 33px; }
  h3 + p, .heading-3 + p { margin-top: 25px; }
  * + .list-xxs { margin-top: 30px; }
  h6 + p, .heading-6 + p { margin-top: 30px; }
  h2 + .divider, .heading-2 + .divider { margin-top: 35px; }
  .divider-thin + .box-inline { margin-top: 30px; }
  .page {
    * + .offset-custom-2 { margin-top: 50px; }
  }
  
}

@media (min-width: $screen-lg-min) {
  * + .list-xs { margin-top: 40px; }
  * + .group-md { margin-top: 60px; }
  p + p + .list-marked { margin-top: 30px; }
  * + .rd-search-results { margin-top: 60px; }
  .divider + p { margin-top: 18px; }
  .shell + .bg-gradient { margin-top: 90px; }
  .owl-carousel + .button { margin-top: 50px; }
  .range + .button { margin-top: 50px; }
  .typed-text-wrap + .button { margin-top: 55px; }
  
  h3 + p,
  .heading-3 + p {
    margin-top: 33px;
  }
  
  h3 + .big,
  .heading-3 + .big {
    margin-top: 25px;
  }
}

@media (min-width: $screen-xl-min) {
  .divider + p { margin-top: 40px; }
  * + .facebook { margin-top: 80px; }
  * + [class^='custom-wrap'] { margin-top: 60px; }
  * + .button-blog { margin-top: 90px; }
  * + .rd-search-results { margin-top: 90px; }
  * + .d3-chart-wrap { margin-top: 70px; }
  hr + .big { margin-top: 40px; }
  * + .box-width-medium { margin-top: 40px; }
  
  h1 + p,
  .heading-1 + p {
    margin-top: 43px;
  }
  
  h3 + .parallax-container { margin-top: 60px; }
  h3 + .section { margin-top: 60px; }
  hr + .range { margin-top: 85px; }
  
  .range + .range.range-xl { margin-top: 90px; }
  .owl-carousel + .button { margin-top: 90px; }
  .range + .button { margin-top: 80px; }
  .big + .button { margin-top: 50px; }
  
  .page {
    * + .offset-custom-2 { margin-top: 80px; }
  }
}

.inset-sm {
  @media (min-width: $screen-xl-min) {
    padding-left: 20px;
  }
}

.inset-md {
  @media (min-width: $screen-xl-min) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.inset-xl {
  @media (min-width: $screen-lg-min) {
    padding-right: 5px;
  }
  @media (min-width: $screen-xl-min) {
    padding-right: 30px;
  }
  @media (min-width: $screen-xxl-min) {
    padding-right: 80px;
  }
}

html {
  // Range spacing
  .range-0 { @include responsive-offset(0); }
  .range-10 { @include responsive-offset(10px); }
  .range-15 { @include responsive-offset(15px); }
  .range-20 { @include responsive-offset(20px); }
  .range-30 { @include responsive-offset(30px); }
  .range-50 { @include responsive-offset(50px); }
  .range-60 { @include responsive-offset(50px); }
  .range-70 { @include responsive-offset(50px); }
  .range-90 { @include responsive-offset(50px); }
  .range-shop { @include responsive-offset(70px); }
  .range-100 { @include responsive-offset(100px); }
  .range-120 { @include responsive-offset(50px); }
  .range-counter { @include responsive-offset(130px); }
  
  .range-135 {
    @include responsive-offset(50px);
    @media (min-width: $screen-lg-min) {
      @include responsive-offset-media(65px);
    }
    @media (min-width: $screen-xl-min) {
      @include responsive-offset-media(135px);
    }
  }
  
  &.desktop {
    .range-100 { @include responsive-offset-media(30px); }
  }
  
  @media (min-width: $screen-sm-min) {
    .range-sm-30 { @include responsive-offset-media(30px); }
    .range-sm-50 { @include responsive-offset-media(50px); }
    .range-60 { @include responsive-offset-media(60px); }
    .range-sm-90 { @include responsive-offset-media(90px); }
  }
  
  @media (min-width: $screen-md-min) {
    .range-md-50 { @include responsive-offset-media(50px); }
    .range-90 { @include responsive-offset(90px); }
  }
  
  @media (min-width: $screen-lg-min) {
    .range-70 { @include responsive-offset-media(70px); }
    .range-lg-50 { @include responsive-offset-media(50px); }
    .range-120 { @include responsive-offset-media(80px); }
  }
  
  @media (min-width: $screen-xl-min) {
    .range-70 { @include responsive-offset-media(70px); }
    .range-xl-90 { @include responsive-offset-media(90px); }
    .range-120 { @include responsive-offset-media(120px); }
  }
}

* + p.offset-0 { margin-top: 0; }