// CTA
section.section.section-xs.text-center.bg-gradient-1
 .shell-wide
   .box-cta-thin
     p.big
       span.label-cta.label-cta-primary Hot!
       strong SEOMarket
       | &nbsp;
       span is your choice in the world of online marketing.&nbsp;
       a.link-bold(href='contacts.html') Contact us now!  
="\n"