// Brands
section.section.section-md.bg-white.text-center
  .shell.shell-wide
    // Owl Carousel
    .owl-carousel.owl-dots-secondary.owl-layout-4(data-items='1' data-xs-items='2' data-sm-items='3' data-md-items='4' data-lg-items='6' data-dots='true' data-nav='false' data-stage-padding='0', data-loop='true', data-margin='30', data-mouse-drag="false")
      a.link-image(href='#'): +png('logo-image-1-174x113')
      a.link-image(href='#'): +png('logo-image-2-173x135')
      a.link-image(href='#'): +png('logo-image-3-172x113')
      a.link-image(href='#'): +png('logo-image-4-185x110')
      a.link-image(href='#'): +png('logo-image-5-173x114')
      a.link-image(href='#'): +png('logo-image-6-143x110')
="\n"