section.section.bg-white
  svg(x='0px', y='0px', width='1920px', height='70.4px', viewbox='0 0 1920 70.4')
    g
      path(d='M384,70.4h384C691,70.4,652.8,0,576,0C502.4,0,460.9,70.4,384,70.4z')
      path(d='M0,70.4h384C305.5,70.4,268.9,0,192,0C116.1,0,78,70.4,0,70.4z')
      path(d='M768,70.4h384C1073.6,70.4,1036.7,0,960,0C883.1,0,841,70.4,768,70.4z')
      path(d='M1728,0c-78.8,0-116.5,70.4-192,70.4h384C1837.2,70.4,1811.2,0,1728,0z')
      path(d='M1152,70.4h384c-77.1,0-115.9-70.4-192-70.4C1265.8,0,1229.4,70.4,1152,70.4z')