.range.range-50(data-lightgallery='group')
  .cell-xs-12.cell-sm-6.cell-md-4
    +gallery-item({
      classMod: 'titled-gallery-item',
      lightGallery: 'group-item',
      img: 'project-1-570x380',
      original: 'project-1-original',
      figcaption: 'SEO Consultants'
    })
  .cell-xs-12.cell-sm-6.cell-md-4
    +gallery-item({
      classMod: 'titled-gallery-item',
      lightGallery: 'group-item',
      img: 'project-2-570x380',
      original: 'project-2-original',
      figcaption: 'Keyword Research'
    })

  .cell-xs-12.cell-sm-6.cell-md-4
    +gallery-item({
      classMod: 'titled-gallery-item',
      lightGallery: 'group-item',
      img: 'project-3-570x380',
      original: 'project-3-original',
      figcaption: 'Link Building Services'
    })

  .cell-xs-12.cell-sm-6.cell-md-4
    +gallery-item({
      classMod: 'titled-gallery-item',
      lightGallery: 'group-item',
      img: 'project-4-570x380',
      original: 'project-4-original',
      figcaption: 'SEO Strategy'
    })

  .cell-xs-12.cell-sm-6.cell-md-4
    +gallery-item({
      classMod: 'titled-gallery-item',
      lightGallery: 'group-item',
      img: 'project-5-570x380',
      original: 'project-5-original',
      figcaption: 'Web Copywriting'
    })

  .cell-xs-12.cell-sm-6.cell-md-4
    +gallery-item({
      classMod: 'titled-gallery-item',
      lightGallery: 'group-item',
      img: 'project-6-570x380',
      original: 'project-6-original',
      figcaption: 'Online Marketing'
    })