.cell-lg-3.cell-sm-6.cell-md-4
  .box-info
    .box-info-inner
      h6.box-info-title: a(href='single-job.html') Middle back-end developer
      p We are currently looking for a Middle Back-End Developer to become a core member of our dynamically growing team.
    .box-info-footer
      ul.list-inline-md
        li.box-inline
          span.icon.mdi-calendar-clock.icon-primary-gradient.mdi
          span Full Time
        li.box-inline
          span.icon.icon-primary-gradient.mdi.mdi-map-marker
          span Chicago

.cell-lg-3.cell-sm-6.cell-md-4
  .box-info
    .box-info-inner
      h6.box-info-title: a(href='single-job.html') Project manager
      p If you are looking for a really challenging opportunity, the position of Project Manager at SEOMarket is a place to start.
    .box-info-footer
      ul.list-inline-md
        li.box-inline
          span.icon.mdi-calendar-clock.icon-primary-gradient.mdi
          span Full Time
        li.box-inline
          span.icon.icon-primary-gradient.mdi.mdi-map-marker
          span New York

.cell-lg-3.cell-sm-6.cell-md-4
  .box-info
    .box-info-inner
      h6.box-info-title: a(href='single-job.html') Middle marketing Analyst
      p We are searching for a skilled middle marketing analyst to help our clients develop their own marketing strategy.
    .box-info-footer
      ul.list-inline-md
        li.box-inline
          span.icon.mdi-calendar-clock.icon-primary-gradient.mdi
          span Full Time
        li.box-inline
          span.icon.icon-primary-gradient.mdi.mdi-map-marker
          span San Diego

.cell-lg-3.cell-sm-6.cell-md-4
  .box-info
    .box-info-inner
      h6.box-info-title: a(href='single-job.html') Marketer
      p If you have great skills in marketing and promotion and want to be a part of the biggest web design company, join us!
    .box-info-footer
      ul.list-inline-md
        li.box-inline
          span.icon.mdi-calendar-clock.icon-primary-gradient.mdi
          span Full Time
        li.box-inline
          span.icon.icon-primary-gradient.mdi.mdi-map-marker
          span Chicago