.cell-lg-3.cell-sm-6.cell-md-4
  .box-info
    .box-info-inner
      h6.box-info-title: a(href='single-job.html') Senior marketing Analyst
      p As a Senior Marketing Analyst  you will direct and implement strategies for sales, advertising, and general market placement.
    .box-info-footer
      ul.list-inline-md
        li.box-inline
          span.icon.mdi-calendar-clock.icon-primary-gradient.mdi
          span Full Time
        li.box-inline
          span.icon.icon-primary-gradient.mdi.mdi-map-marker
          span New York

.cell-lg-3.cell-sm-6.cell-md-4
  .box-info
    .box-info-inner
      h6.box-info-title: a(href='single-job.html') Junior Copywriter
      p Become a Junior Copywriter at our company and get a chance to polish your creative skills at the biggest SEO agency.
    .box-info-footer
      ul.list-inline-md
        li.box-inline
          span.icon.mdi-calendar-clock.icon-primary-gradient.mdi
          span Full Time
        li.box-inline
          span.icon.icon-primary-gradient.mdi.mdi-map-marker
          span San Diego

.cell-lg-3.cell-sm-6.cell-md-4
  .box-info
    .box-info-inner
      h6.box-info-title: a(href='single-job.html') Junior Developer
      p Realise the creative vision of a web designer necessary for all types of projects as a Junior Developer at our company.
    .box-info-footer
      ul.list-inline-md
        li.box-inline
          span.icon.mdi-calendar-clock.icon-primary-gradient.mdi
          span Full Time
        li.box-inline
          span.icon.icon-primary-gradient.mdi.mdi-map-marker
          span Chicago

.cell-lg-3.cell-sm-6.cell-md-4
  .box-info
    .box-info-inner
      h6.box-info-title: a(href='single-job.html') Junior Designer
      p Junior designers create medium and small but very important website interface elements required by the project.
    .box-info-footer
      ul.list-inline-md
        li.box-inline
          span.icon.mdi-calendar-clock.icon-primary-gradient.mdi
          span Part Time
        li.box-inline
          span.icon.icon-primary-gradient.mdi.mdi-map-marker
          span New York
