mixin default-pricing
  .range.range-xs-center.range-lg.range-30

    // Pricing Box
    .cell-sm-6.cell-lg-3
      .pricing-box.pricing-box-novi
        .pricing-box-header: h4 Basic
        .pricing-box-body
          ul.pricing-box-list
            li Free Consultation
            li Search Engine Optimization
            li.pricing-box-list-disable Social Media Management
            li.pricing-box-list-disable Remarketing
            li.pricing-box-list-disable Content Management
          .pricing-box-price: .heading-4 $49.00
          a.button.button-sm.button-primary(href='#') buy now

    // Pricing Box
    .cell-sm-6.cell-lg-3
      .pricing-box.pricing-box-novi
        .pricing-box-header: h4 Standard
        .pricing-box-body
          ul.pricing-box-list
            li Free Consultation
            li Search Engine Optimization
            li Social Media Management
            li.pricing-box-list-disable Remarketing
            li.pricing-box-list-disable Content Management
          .pricing-box-price: .heading-4 $69.00
          a.button.button-sm.button-primary(href='#') buy now

    // Pricing Box
    .cell-sm-6.cell-lg-3
      .pricing-box.pricing-box-novi
        .pricing-box-header: h4 Gold
        .pricing-box-body
          ul.pricing-box-list
            li Free Consultation
            li Search Engine Optimization
            li Social Media Management
            li Remarketing
            li.pricing-box-list-disable Content Management
          .pricing-box-price: .heading-4 $88.00
          a.button.button-sm.button-primary(href='#') buy now

    // Pricing Box
    .cell-sm-6.cell-lg-3
      .pricing-box.pricing-box-novi
        .pricing-box-header: h4 Platinum
        .pricing-box-body
          ul.pricing-box-list
            li Free Consultation
            li Search Engine Optimization
            li Social Media Management
            li Remarketing
            li Content Management
          .pricing-box-price: .heading-4 $108.00
          a.button.button-sm.button-primary(href='#') buy now

mixin alternative-pricing
  .range.range-xs-center.range-lg.range-condensed.range-100.pricing-box-wrap

    // Pricing Box Alternative
    .cell-sm-6.cell-md-4.cell-lg-3.pricing-box-wrap-element
      .pricing-box-alternative.pricing-box-novi
        .pricing-box-alternative-header: h4 Basic
        ul.pricing-box-rating
          li: span.icon.icon-md.mdi.mdi-star
          li: span.icon.icon-md.mdi.mdi-star
          li: span.icon.icon-md.mdi.mdi-star-outline
          li: span.icon.icon-md.mdi.mdi-star-outline
          li: span.icon.icon-md.mdi.mdi-star-outline
        ul.pricing-box-list
          li Free Consultation
          li Search Engine Optimization
          li.pricing-box-list-disable Social Media Management
          li.pricing-box-list-disable Remarketing
          li.pricing-box-list-disable Content Management
        .pricing-box-price: .heading-4 $49.00
        .pricing-box-button: a.button.button-xs.button-primary(href='#') order now

    // Pricing Box Alternative
    .cell-sm-6.cell-md-4.cell-lg-3.pricing-box-wrap-element
      .pricing-box-alternative.pricing-box-novi
        .pricing-box-alternative-header: h4 Standard
        ul.pricing-box-rating
          li: span.icon.icon-md.mdi.mdi-star
          li: span.icon.icon-md.mdi.mdi-star
          li: span.icon.icon-md.mdi.mdi-star
          li: span.icon.icon-md.mdi.mdi-star-outline
          li: span.icon.icon-md.mdi.mdi-star-outline
        ul.pricing-box-list
          li Free Consultation
          li Search Engine Optimization
          li Social Media Management
          li.pricing-box-list-disable Remarketing
          li.pricing-box-list-disable Content Management
        .pricing-box-price: .heading-4 $69.00
        .pricing-box-button: a.button.button-xs.button-primary(href='#') order now

    // Pricing Box Alternative
    .cell-sm-6.cell-md-4.cell-lg-3.pricing-box-wrap-element
      .pricing-box-alternative.pricing-box-novi
        .pricing-box-alternative-header: h4 Gold
        ul.pricing-box-rating
          li: span.icon.icon-md.mdi.mdi-star
          li: span.icon.icon-md.mdi.mdi-star
          li: span.icon.icon-md.mdi.mdi-star
          li: span.icon.icon-md.mdi.mdi-star
          li: span.icon.icon-md.mdi.mdi-star-outline
        ul.pricing-box-list
          li Free Consultation
          li Search Engine Optimization
          li Social Media Management
          li Remarketing
          li.pricing-box-list-disable Content Management
        .pricing-box-price: .heading-4 $88.00
        .pricing-box-button: a.button.button-xs.button-primary(href='#') order now

    // Pricing Box Alternative
    .cell-sm-6.cell-md-4.cell-lg-3.pricing-box-wrap-element
      .pricing-box-alternative.pricing-box-novi
        .pricing-box-alternative-header: h4 Platinum
        ul.pricing-box-rating
          li: span.icon.icon-md.mdi.mdi-star
          li: span.icon.icon-md.mdi.mdi-star
          li: span.icon.icon-md.mdi.mdi-star
          li: span.icon.icon-md.mdi.mdi-star
          li: span.icon.icon-md.mdi.mdi-star
        ul.pricing-box-list
          li Free Consultation
          li Search Engine Optimization
          li Social Media Management
          li Remarketing
          li Content Management
        .pricing-box-price: .heading-4 $108.00
        .pricing-box-button: a.button.button-xs.button-primary(href='#') order now

mixin columns-pricing
  .range.range-xs-center.range-md.range-30

    // Pricing Box Lg
    .cell-sm-8.cell-lg-6
      .pricing-box.pricing-box-lg.pricing-box-novi
        .pricing-box-header.text-xs-left
          h4 Gold
        .pricing-box-body
          .range.range-xs-middle
            .cell-xs-6.text-xs-left
              ul.pricing-box-list.list-marked
                li Free Consultation 
                li Search Engine Optimization
                li Social Media Management
                li Remarketing 
                li.pricing-box-list-disable Content Management
            .cell-xs-6.text-xs-right
              .pricing-box-price
                .pricing-box-price-old: .heading-5 $109.00
                .pricing-box-price-new: .heading-2 $88.00
              a.button.button-xs.button-primary(href='#') order now

    // Pricing Box Lg
    .cell-sm-8.cell-lg-6
      .pricing-box.pricing-box-lg.pricing-box-novi
        .pricing-box-header.text-xs-left
          h4 Platinum
        .pricing-box-body
          .range.range-xs-middle
            .cell-xs-6.text-xs-left
              ul.pricing-box-list.list-marked
                li Free Consultation 
                li Search Engine Optimization
                li Social Media Management
                li Remarketing 
                li Content Management
            .cell-xs-6.text-xs-right
              .pricing-box-price
                .pricing-box-price-old: .heading-5 $139.00
                .pricing-box-price-new: .heading-2 $108.00
              a.button.button-xs.button-primary(href='#') order now

mixin xxl-pricing
  .range.range-md.range-50.range-xs-center

    // Pricing Box XL
    .cell-sm-6.cell-lg-3
      .pricing-box.pricing-box-xl.pricing-box-novi
        .pricing-box-header
          h4 Basic
        .pricing-box-price
          .heading-2
            sup $
            | 49.00
        a.button.button-sm.button-primary(href='#') order now
        .pricing-box-body
          ul.pricing-box-list
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-secondary.mdi.mdi-bullhorn
                .unit-body: span Context Advertising
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-secondary.mdi.mdi-map-marker-circle
                .unit-body: span Local SEO
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-secondary.mdi.mdi-pen
                .unit-body: span Content Marketing
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-secondary.mdi.mdi-backup-restore
                .unit-body: span Rewriting
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md.icon-secondary.mdi.mdi-email-open
                .unit-body: span Support by Phone & Email

    // Pricing Box XL
    .cell-sm-6.cell-lg-3
      .pricing-box.pricing-box-xl.pricing-box-novi
        .pricing-box-header
          h4 Standard
        .pricing-box-price
          .heading-2
            sup $
            | 69.00
        a.button.button-sm.button-primary(href='#') order now
        .pricing-box-body
          ul.pricing-box-list
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-secondary.mdi.mdi-bullhorn
                .unit-body: span SMM
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-secondary.mdi.mdi-email
                .unit-body: span Email Marketing
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-secondary.mdi.mdi-desktop-mac
                .unit-body: span Web Design
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-secondary.mdi.mdi-elevation-rise
                .unit-body: span SEO Strategy
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md.icon-secondary.mdi.mdi-headset
                .unit-body: span Daily Support

    // Pricing Box XL
    .cell-sm-6.cell-lg-3
      .pricing-box.pricing-box-xl.pricing-box-novi
        .pricing-box-header
          h4 Gold
        .pricing-box-price
          .heading-2
            sup $
            | 88.00
        a.button.button-sm.button-primary(href='#') order now
        .pricing-box-body
          ul.pricing-box-list
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-secondary.mdi.mdi-file-find
                .unit-body: span Keyword Research
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-secondary.mdi.mdi-diamond
                .unit-body: span Brand Reputation Management
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-secondary.mdi.mdi-file-chart
                .unit-body: span SEO Knowledge Database
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-secondary.mdi.mdi-pen
                .unit-body: span Copywriting
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md.icon-secondary.mdi.mdi-headset
                .unit-body: span 24/7 Support

    // Pricing Box XL
    .cell-sm-6.cell-lg-3
      .pricing-box.pricing-box-xl.pricing-box-novi
        .pricing-box-header
          h4 Platinum
        .pricing-box-price 
          .heading-2
            sup $
            | 108.00
        a.button.button-sm.button-primary(href='#') order now
        .pricing-box-body
          ul.pricing-box-list
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-secondary.mdi.mdi-message-text-outline
                .unit-body: span Free Consultation 
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-secondary.mdi.mdi-magnify
                .unit-body: span Search Engine Optimization 
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-secondary.mdi.mdi-bullhorn
                .unit-body: span Social Media Management
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md-big.icon-secondary.mdi.mdi-backup-restore
                .unit-body: span Remarketing 
            li
              .unit.unit-spacing-sm.unit-horizontal.unit-middle
                .unit-left: span.icon.icon-md.icon-secondary.mdi.mdi-pen
                .unit-body: span Content Management