mixin thumbnail-classic(obj)
  .thumbnail-classic.unit.unit-sm-horizontal.unit-md-vertical(class=obj.modClass ? obj.modClass : '')
    .thumbnail-classic-icon.unit-left
      span.icon(class=obj.icon_class)=obj.icon_text
    .thumbnail-classic-caption.unit-body
      h6.thumbnail-classic-title=obj.title
      hr.divider.divider-default.divider-sm
      p.thumbnail-classic-text=obj.text