mixin flicker-minimal-group(obj)
  - if (typeof(obj) === 'undefined') var obj = {};
  .flickr(data-flickr-tags=(obj.tag ? obj.tag : 'tm-62314') , data-lightgallery='group')
    .range.range-narrow.range-10
      - for (var i = 0; i < 4 ; i++)
        .cell-xs-3.cell-xxs-4
          .flickr-item(data-type="flickr-item")
            a.thumb-minimal(href='#', data-image_b="href", data-lightgallery='group-item')
              img.flickr-image(src='images/_blank.png', data-image_s="src" data-title="alt", width='110', height='110', alt='')
              .thumb-minimal-overlay

mixin twitter-minimal(obj)
  - if (typeof(obj) === 'undefined') var obj = {};
  .twitter(data-twitter-username='templatemonster' class=obj.classWrap)
    - for (var i = 0; i < (obj.countTwit ? obj.countTwit : 1); i++)
      .twitter-feed-minimal(data-twitter-type='tweet' class=obj.classTwit)
        .unit.unit-xs-horizontal
          .unit-left
            span.mdi.mdi-twitter.twitter-icon.icon-md-middle
          .unit-body
            .twitter-feed-minimal-content(data-tweet='text')
            time(data-date="text" data-datetime="datetime" datetime='2017')


mixin twitter-block(obj)
  - if (typeof(obj) === 'undefined') var obj = {};
    .twitter(data-twitter-username='templatemonster' data-twitter-date-format="%d %b %Y" data-twitter-date-hours=" hours ago" data-twitter-date-minutes=" minutes ago" class=obj.classWrap)
      - for (var i = 0; i < (obj.countTwit ? obj.countTwit : 1); i++)
        .twitter-feed.twitter-feed-block(data-twitter-type='tweet' class=obj.classTwit)
          .twitter-feed-header
            .unit.unit-xs-horizontal
              .unit-left 
                img.twitter-feed-avatar.twitter-image(data-avatar='src', alt='', src='images/_blank.png')
              .unit-body
                .twitter-feed-name
                  h5(data-user_name="text") 
                  time(data-date="text" data-datetime="datetime" datetime='2017')
                .twitter-feed-content(data-tweet='text')