.shell-wide
  .range.range-50.range-xs-center
    .cell-xl-8
      .box-cta.box-cta-inline
        .box-cta-inner
          h3.box-cta-title Do You Need A Consultation?
          p SEOMarket can give you lots of advantages, from which you will surely benefit.
        .box-cta-inner
          a.button.button-default-outline(href='about-us.html') learn more