//- Gallery item
mixin gallery-item-title-inside(obj)
  .gallery-item(class=obj.classMod)
    .gallery-item-image
      figure
        +jpg(obj.img)
      .title-inside-gallery-caption
        if (obj.title_inside)
          a.title-inside-gallery-title(href='single-project.html')=obj.title_inside
        if (obj.text)
          p.title-inside-gallery-text=obj.text