.shell.shell-wide
  .range.range-50.range-sm-center
    .cell-sm-11.cell-md-10.cell-xl-7.cell-xxl-6
      h3 Testimonials
      .divider.divider-default

      // Owl Carousel
      .owl-carousel.owl-layout-2(data-items='1', data-dots='true' data-nav='false' data-stage-padding='0', data-loop='true', data-margin='30', data-mouse-drag="false")
        article.quote-vertical
          +jpg('quote-user-1-210x210', 'quote-vertical-image')
          .quote-vertical-text
            p I would just like to say thank you for your effective online marketing services, for your friendly and professional support and answers to my questions! You helped me improve the website performance for my clients. Now I have a better level of keyword targeting that has enabled me to realize how well each keyword is performing.

          .quote-vertical-meta
            p.quote-vertical-cite Philip Lawrence
            p.quote-vertical-small Regular Customer


        article.quote-vertical
          +jpg('quote-user-2-210x210', 'quote-vertical-image')
          .quote-vertical-text
            p Thank you for the SEO services you delivered. You helped my website attract new partners and promote my own services to a greater number of customers. I also appreciate your assistance with finding new clients, saving existing ones, and driving strategy for SEO because of the information and data you provided.

          .quote-vertical-meta
            p.quote-vertical-cite Debra Ortega
            p.quote-vertical-small Regular Customer


        article.quote-vertical
          +jpg('quote-user-3-210x210', 'quote-vertical-image')
          .quote-vertical-text
            p SEOMarket is the only agency that provides high quality online marketing and promotion services. The members of their team are real professionals in search engine optimization. Working with them really allowed us to easily showcase all of the great things that we were able to do and provide for our clients.

          .quote-vertical-meta
            p.quote-vertical-cite Jose Gutierrez
            p.quote-vertical-small Regular Customer