//- Classic navigation
mixin classic-navigation(obj)
  header.section.page-header.breadcrumbs-custom-wrap.bg-gray-lighter
    // RD Navbar
    .rd-navbar-wrap.rd-navbar-default
      nav.rd-navbar(data-layout='rd-navbar-fixed', data-sm-layout='rd-navbar-fixed', data-md-layout='rd-navbar-fullwidth', data-md-device-layout='rd-navbar-fixed', data-lg-layout='rd-navbar-static', data-lg-device-layout="rd-navbar-static",  data-md-stick-up-offset="2px", data-lg-stick-up-offset="2px" data-stick-up='true' data-sm-stick-up='true' data-md-stick-up='true' data-lg-stick-up='true')
        .rd-navbar-inner
          // RD Navbar Panel
          .rd-navbar-panel
            // RD Navbar Toggle
            button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav-wrap'): span

            // RD Navbar Brand
            .rd-navbar-brand
              a.brand-name(href='index.html')
                +png(logoDefault, 'logo-default')
                +png(logoInverse, 'logo-inverse')
          .rd-navbar-aside-right
            .rd-navbar-nav-wrap
              include ../_navigation
            .rd-navbar-aside-right-inner 
              // RD Navbar Search
              .rd-navbar-search
                a.rd-navbar-search-toggle(data-rd-navbar-toggle=".rd-navbar-search" href="#")
                  span
                form.rd-search(action="search-results.html" data-search-live="rd-search-results-live" method="GET")
                  div.form-wrap
                    label.form-label(for="rd-navbar-search-form-input" class="form-label") Search...
                    input(class="rd-navbar-search-form-input form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off")
                    .rd-search-results-live
                  button.rd-search-form-submit.mdi.mdi-magnify

    // Breadcrumbs
    section.breadcrumbs-custom.breadcrumbs-custom-svg
      - var activeItemName= obj.path.pop()[0];
      .shell
        p.breadcrumbs-custom-subtitle=obj.text
        p.heading-1.breadcrumbs-custom-title=obj.activeItemName

        ul.breadcrumbs-custom-path
          li: a(href='index.html')=menu[0].title
          - for (var i = 0; i < obj.path.length; i++)
            - if (obj.path[i][0] == activeItemName) break;
            - var pathLink = obj.path[i][1] ? obj.path[i][1] : nameToLink(obj.path[i][0])
            li: a(href=pathLink)=obj.path[i][0]

          li.active=activeItemName