.s-projects{
  .btn-wrap{
    margin-top: 40px;
  }
}

.gallery-item{
  display: block;
  margin-top: 50px;
  .img-wrap{
    position: relative;
    overflow: hidden;
    img{
      width: 100%;
      display: block;
      transition: all 0.55s ease-in-out;
    }
    .img-layer{
      background: $layer;
      opacity: 0;
      transition: all 0.4s ease;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      &:before{
        transition: all 0.55s ease-in-out;
        content: '+';
        font-size: 70px;
        color: $white;
        opacity: 0;
      }
    }
  }
  &:hover{
    .img-wrap{
      img{
        transform: scale(1.05);
      }
      .img-layer{
        opacity: 1;
        &:before{
          opacity: 1;
        }
      }
    }
  }
}
.gallery-item-title{
  display: block;
  font-size: 24px;
  line-height: 1;
  color: $main;
  padding: 15px 0 10px;
  transition: 0.3s;
  &:hover{
    color: $white;
  }
  @media (max-width: 767px) {
    font-size: 15px;

  }
}