.s-top{
  text-align: center;
  color: $white;
  @include bg-center;
  //min-height: calc(100vh - 135px);
  //padding: 120px 0 60px;
  padding-top: 190px;
  padding-bottom: 192px;
  @include flex-col-center;
  .title{
    margin-bottom: 30px;
    color: $white;
  }
  .subtitle{
    padding-bottom: 45px;
    font-weight: 400;
    margin-bottom: 50px;
    color: $white;
  }
  .desc{
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }
  .btns{
    .btn{
      margin: 0 15px 25px 0;
    }
  }
  @media (max-width: 1599px) {
    .desc{
      font-size: 22px;
      margin-bottom: 35px;
    }
    .subtitle {
      padding-bottom: 40px;
      margin-bottom: 30px;
    }
  }
  @media (max-width: 1199px) {
    .desc{
      font-size: 18px;
    }
  }
  @media (max-width: 991px) {
    min-height: auto;
    padding: 80px 0;
    .subtitle {
      font-size: 24px;
    }
    .btns{
      @include flex-col-center;
      .btn{
        margin: 0;
        &:nth-child(1){
          margin-bottom: 30px;
        }
        &:nth-child(2){
          margin-bottom: 0;
        }
      }
    }
  }
  @media (max-width: 767px) {
    .title{
      margin-bottom: 15px;
    }
    .subtitle {
      padding-bottom: 25px;
      margin-bottom: 25px;
    }
  }
  @media (max-width: 599px) {

  }
}