.s-top{
  text-align: center;
  color: $white;
  font-family: sans-serif;
  @include bg-center;
  padding-top: 140px;
  padding-bottom: 160px;
  h1{
    font-family: sans-serif;
    font-size: 60px;
    color: $white;
    line-height: 1.1;
    letter-spacing: .01em;
    margin-bottom: 15px;
  }
  h2{
    padding-bottom: 3px;
    font-weight: 300;
    font-size: 34px;
    color: $white;
    font-family: sans-serif;
    line-height: 1.1;
    &:after{
      content: '';
      background: linear-gradient(to right, #50e590 50%, #0796c6 120%);
      display: inline-block;
      border: 0;
      font-size: 0;
      line-height: 0;
      height: 3px;
      max-width: 100px;
      width: 100%;
      margin-bottom: 10px;
      margin-top: 25px;
    }
  }
  .desc{
    p{
      font-size: 19px;
      line-height: 1.4;
      margin-bottom: 50px;
      font-family: sans-serif;
      font-weight: 300;
      margin-right: 20px;
      margin-left: 20px;
    }
  }
  .btns{
    .btn{
      font-family: sans-serif;
      margin-left: 15px;
      &:first-child{
        margin-left: 0;
      }
    }

  }
  @media (min-width: 768px){
    .s-top-center{
      margin: 0 auto;
      width: 540px;
    }
  }
}