.s-top-2{
  padding: 230px 0 135px;
  text-align: center;
  color: $white;
  @include flex-col-center;
  .title{
    margin-bottom: 20px;
    color: $white;
    font-size: 60px;
  }
  @media (max-width: 1599px) {
    padding: 120px 0 50px;
  }
}