extends  ../_skeleton

//- Includes
block variables
  - var activeIndex = 4
  - var pageName = '404 Page'

block page
  // Page Header
  header.section.page-header.bg-gray-darker.breadcrumbs-custom-wrap
    include ../sections/navbar-centered

  section.section.fullwidth-page.bg-gray-darker
    .fullwidth-page-inner
      .section-md.text-center
        .shell
          p.breadcrumbs-custom-subtitle Sorry, But the Page Was not Found
          p.heading-1.breadcrumbs-custom-title Error 404
          p You may have mistyped the address or the page may have moved.
          a(href='index.html').button.button-primary back to home page


      // Page Footer
      .section-xs.page-footer.text-center
        .shell
          p.right
            | &#169; #[span(class="copyright-year")] All Rights Reserved
            | &nbsp;
            a(href="#") Terms of Use
            | &nbsp;
            span and
            | &nbsp;
            a(href="privacy-policy.html") Privacy Policy