extends  ../_skeleton

//- Includes
include ../elements/_ui-team-classic
include ../elements/_ui-gallery-item

block variables
  - var activeIndex = 2
  - var pageName = 'Grid Album Gallery'

block page
  // Page Header
  include ../sections/_header-centered
  +breadcrumbs({
    path: [[menu[activeIndex].title, menu[activeIndex].link], ['Grid Album Gallery']]
  })

  // Grid gallery
  section.section.section-lg.text-center.bg-white
    .shell-wide
      h3 Album Gallery
      .isotope-wrap.range.range-0.range-sm-30
        // Isotope Filters
        .cell-lg-12
          ul.isotope-filters.isotope-filters-horizontal
            li.block-top-level
              p.big Choose your category:
              // Isotope Filters
              button.isotope-filters-toggle.button.button-xs.button-primary(data-custom-toggle='.isotope-filters-list', data-custom-toggle-hide-on-blur='true')
                | Filter
                span.caret

              ul.isotope-filters-list
                li: a.active(data-isotope-filter='*', data-isotope-group='gallery', href='#') All Albums
                li: a(data-isotope-filter='type 1', data-isotope-group='gallery', href='#') Album 1
                li: a(data-isotope-filter='type 2', data-isotope-group='gallery', href='#') Album 2
                li: a(data-isotope-filter='type 3', data-isotope-group='gallery', href='#') Album 3

        // Isotope Content
        .cell-lg-12
          .isotope(data-isotope-layout='fitRows', data-isotope-group='gallery')
            .row
              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='type 1' data-lightgallery='group')
                ul.lightgallery-album
                  li
                    +gallery-item({
                      lightGallery: 'group-item',
                      img: 'gallery-grid-01-570x380',
                      original: 'gallery-01-original',
                      title: 'Album #1',
                      text: 'Brave offers you a variety of useful features based on Bootstrap framework.'
                    })
                  li
                    +gallery-item({
                      lightGallery: 'group-item',
                      img: 'gallery-grid-02-570x380',
                      original: 'gallery-02-original',
                      title: 'photo #2',
                      text: 'Brave offers you a variety of useful features based on Bootstrap framework.'
                    })
                  li
                    +gallery-item({
                      lightGallery: 'group-item',
                      img: 'gallery-grid-03-570x380',
                      original: 'gallery-03-original',
                      title: 'photo #3',
                      text: 'Brave offers you a variety of useful features based on Bootstrap framework.'
                    })

              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='type 2' data-lightgallery='group')
                ul.lightgallery-album
                  li
                    +gallery-item({
                      lightGallery: 'group-item',
                      img: 'gallery-grid-04-570x380',
                      original: 'gallery-04-original',
                      title: 'Album #2',
                      text: 'Brave offers you a variety of useful features based on Bootstrap framework.'
                    })
                  li
                    +gallery-item({
                      lightGallery: 'group-item',
                      img: 'gallery-grid-05-570x380',
                      original: 'gallery-05-original',
                      title: 'photo #5',
                      text: 'Brave offers you a variety of useful features based on Bootstrap framework.'
                    })
                  li
                    +gallery-item({
                      lightGallery: 'group-item',
                      img: 'gallery-grid-06-570x380',
                      original: 'gallery-06-original',
                      title: 'photo #6',
                      text: 'Brave offers you a variety of useful features based on Bootstrap framework.'
                    })
              .col-xs-12.col-sm-6.col-md-4.isotope-item(data-filter='type 3' data-lightgallery='group')
                ul.lightgallery-album
                  li
                    +gallery-item({
                      lightGallery: 'group-item',
                      img: 'project-1-570x380',
                      original: 'project-1-original',
                      title: 'Album #3',
                      text: 'Brave offers you a variety of useful features based on Bootstrap framework.'
                    })
                  li
                    +gallery-item({
                      lightGallery: 'group-item',
                      img: 'project-2-570x380',
                      original: 'project-2-original',
                      title: 'photo #6',
                      text: 'Brave offers you a variety of useful features based on Bootstrap framework.'
                    })
                  li
                    +gallery-item({
                      lightGallery: 'group-item',
                      img: 'project-3-570x380',
                      original: 'project-3-original',
                      title: 'photo #6',
                      text: 'Brave offers you a variety of useful features based on Bootstrap framework.'
                    })

  ="\n"

  include ../sections/_cta-section-thin

  // Page Footer  // Page Footer   
  +footer-default({className: 'bg-gray-lighter'})