extends  ../_skeleton

//- Includes

block variables
  - var activeIndex = 4
  - var pageName = 'Registration Page'

block page
  // Page Header
  header.section.page-header.bg-gray-darker.breadcrumbs-custom-wrap
    include ../sections/navbar-centered

  section.section.fullwidth-page.bg-image(style='background-image: url(images/bg-image-1.jpg);')
    .fullwidth-page-inner
      .section-lg.text-center
        .shell
          h3 Registration
          .range.range-xs-center
            .cell-sm-8.cell-md-6.cell-lg-4
              // RD Mailform
              form.rd-mailform.rd-mailform-small(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
                .form-wrap.form-wrap-validation
                  input.form-input(id='form-1-email' type="email" name="email" data-constraints="@Email @Required")
                  label.form-label(for='form-1-email') E-mail
                .form-wrap.form-wrap-validation
                  input.form-input(id='form-1-username' type="text" name="username" data-constraints='@Required')
                  label.form-label(for='form-1-username') Username
                .form-wrap.form-wrap-validation
                  input.form-input(id='form-1-password' type="password" name="password" data-constraints="@Required")
                  label.form-label(for='form-1-password') Password
                .form-wrap.form-wrap-validation
                  input.form-input(id='form-1-password-confirm' type="password" name="password-confirm" data-constraints="@Required")
                  label.form-label(for='form-1-password-confirm') Confirm Password
                .form-button
                  button.button.button-block.button-primary(type='submit') Sign up

          p.offset-custom-1 or enter with

          .group-xs.group-middle
            a.icon.icon-md-smaller.icon-circle.icon-filled.mdi.mdi-facebook(href='#')
            a.icon.icon-md-smaller.icon-circle.icon-filled.mdi.mdi-twitter(href='#')
            a.icon.icon-md-smaller.icon-circle.icon-filled.mdi.mdi-google(href='#')

      // Page Footer
      .section-xs.page-footer.text-center
        .shell
          p.right
            | &#169; #[span(class="copyright-year")] All Rights Reserved
            | &nbsp;
            a(href="#") Terms of Use
            | &nbsp;
            span and
            | &nbsp;
            a(href="privacy-policy.html") Privacy Policy