-
	var
	brandName = 'SEO Market',
	logoDefault = 'logo-default-237x91',
	logoInverse = 'logo-inverse-237x91',
	blogLink = 'classic-blog.html' 
	postLink = 'single-post.html',
	videoLink = '//www.youtube.com/embed/iYsTvn1bHfU',
	videoLinkPop = '//www.youtube.com/watch?v=iYsTvn1bHfU',
	getTemplateLink = '#template-link',
	builderLink = '#builder-link',
	includeLayoutPanel = false
	menu = [
		{
			title: 'Home',
			link: 'index.html'
		},{ 
			title: 'About Us'
		},
		{ title: 'Projects',
			link: '#',
			dropdown: [ 
				{ title: 'Grid Gallery' }, 
				{ title: 'Grid Album Gallery' },
				{ title: 'Fullwidth Gallery' },
				{ title: 'Single Project' }
			]
		},
		{ title: 'Blog',
			link: '#',
			dropdown: [
				{ title: 'Classic Blog' },
				{ title: 'Grid Blog' },
				{ title: 'Masonry Blog' },
				{ title: 'Modern Blog' },
				{ title: 'Audio Post' },
				{ title: 'Image Post' },
				{ title: 'Single Post' },
				{ title: 'Video Post' }
			]
		},
		{
			title: 'Pages',
			link: '#',
			megamenu: [
				{
					list: [
						{ title: 'About Me' },
						{ title: 'Our History'},
						{ title: 'Services' },
						{ title: 'Single Service' },
						{ title: 'Careers' },
						{ title: 'Single Job' },
						{ title: 'Contacts' }
					]
				},
				{
					list: [
						{ title: 'Login Page' },
						{ title: 'Registration Page' },
						{ title: 'Pricing Page' },
						{ title: '404 Page' },
						{ title: '503 Page' },
						{ title: 'Coming Soon' }
					]
				},
				{
					list: [
						{ title: 'Under Construction' },
						{ title: 'Accordions' },
						{ title: 'Forms' },
						{ title: 'Countdown' },
						{ title: 'Grid System' },
						{ title: 'Tables' }
					]
				},
				{
					list: [
						{ title: 'Tabs' },
						{ title: 'Typography' },
						{ title: 'Radials' },
						{ title: 'Pricing' },
						{ title: 'Tooltips' },
						{ title: 'Search Results' }
					]
				}
			]
		}
	]