/**
* 2.7  Call To Action
*/

.box-cta {
  font-size: 18px;
  color: $gray-light;
  margin-left: -20px;
  margin-right: -20px;

  > * {
    padding-left: 20px;
    padding-right: 20px;
  }

  &-title {
    color: $secondary;
    & + * {
      margin-top: 20px;
    }
  }
  .button {
    font-size: 18px;
  }
}

// Call to action inline
.box-cta-inline {
  > * + * {
    margin-top: 30px;
  }
  @media (min-width: $screen-sm-min) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

// Call to action thin
.box-cta-thin {
  .label-cta {
    position: relative;
    top: -2px;
    margin-right: 18px;
  }

  @media (min-width: $screen-xl-min) {
    .label-cta {
      top: -4px;
    }
  }
}

// Call to action vertical
.box-cta-vertical {

}

// Call to action label
.label-cta {
  padding: 5px 18px;
  font-size: 16px;
  font-weight: 700;

  &-primary {
    color: $white;
    background: $primary;
  }
}

// Call to action media

@media (min-width: $screen-sm-min) {
  .box-cta {
    font-size: 19px;
  }
  // Call to action vertical
  .box-cta-vertical {
    > * + * {
      margin-top: 40px;
    }
    * + .button {
      margin-top: 45px;
    }
  }
}

@media (min-width: $screen-xl-min) {
  .box-cta {
    font-size: 24px;
  }
  .cta-avatar {
    max-width: none;
  }
}